@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 242, 242, 242;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-size: 3rem;
  letter-spacing: 0.1rem;
  font-weight: 900 !important;
}

.appicon {
  -webkit-mask-image: url("/iconmask.svg");
  -webkit-mask-size: contain; 
  mask-image: url("/iconmask.svg");
  mask-size: contain; 
}
